<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TEST2048WithCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77B262341C86D9B3004529C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B2624D1C86D9B4004529C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B262581C86D9B4004529C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
